In [ ]:
import pandas as pd

# this will read a file and load it into a DF
# df = pd.read_csv('path/to/csv/data.csv')
# df = pd.read_json('path/to/json/data.json')

# cars, passings, price are the column names, the values are the rows for that column by index
mydataset = {
  "cars": ["BMW", "Lexus", "Merc", "Honda", "Lambo"],
  "passings": [3, 7, 2, 5, None],
  "price": [100.5, 30.3, None, 30.3, 502]
}

df = pd.DataFrame(mydataset)

# this gives you the info on the table
print(df.info())

# shows column types
print(df.dtypes)

# this will print the whole DF
print(df.to_string())

# this prints the 2nd and 3rd row in the DF (pandas is 0 indexed)
# it will also print the column names and index
print(df.loc[[1, 2]])

# get the first 2 rows
print(df.head(2))

# get the last 2 rows
print(df.tail(2))

In [ ]:
# returns a new DF with no empty cells
new_df = df.dropna()
print(new_df)

# fills all empty cells with the value, we will use inplace=True to save time
new_df2 = df.fillna(100000)
print(new_df2)

# we can also replace values in a specific column
df["price"].fillna(1500.4, inplace = True)
print(df)

In [ ]:
mean = df["price"].mean()
median = df["price"].median()
mode = df["price"].mode()[0] # this gets the first value of the resulting df
print(f"mean: {mean}, median: {median}, mode: {mode}")

In [14]:
data = {'country': ['Italy','Spain','Greece','France','Portugal'],
        'popu': [61, 46, 11, 65, 10],
        'percent': [0.83,0.63,0.15,0.88,0.14]}

df = pd.DataFrame(data, index=['ITA', 'ESP', 'GRC', 'FRA', 'PRT'])
df
# Rename 'popu' column to 'population'
dfnew = df.rename(columns={'popu': 'population'})
dfnew
# Add a list as a new column 
dfnew['capital city'] = ['Rome','Madrid','Athens','Paris','Lisbon']
dfnew
# Add an array as a new column 
ar = [39,34,30,33,351]
ar
dfnew['Calling code'] = ar
dfnew
# Add a Series array as a new column 
# When adding a Series data are automatically aligned based on index 
ser = pd.Series(['es','it','fr','pt','gr'], index = ['ESP','ITA','FRA','PRT','GRC'])
dfnew['Internet domain'] = ser
dfnew
# Delete using del 
del dfnew['Internet domain']
dfnew
# Delete using drop() 
dfdrop = dfnew.drop(['Calling code'], axis=1)
dfdrop

# do something to all values in a col
dfdrop['population'] = dfdrop['population'].apply(lambda x: x**2)
dfdrop

      country  population  percent capital city
ITA     Italy        3721     0.83         Rome
ESP     Spain        2116     0.63       Madrid
GRC    Greece         121     0.15       Athens
FRA    France        4225     0.88        Paris
PRT  Portugal         100     0.14       Lisbon

In [ ]:
# iterate over column names
for col in dfdrop:
    print(col)

# iterate over columns with their values
for col in dfdrop:
    print(dfdrop[col])