In [37]:
import pandas as pd

# this will read a file and load it into a DF
# df = pd.read_csv('path/to/csv/data.csv')
# df = pd.read_json('path/to/json/data.json')

# cars, passings, price are the column names, the values are the rows for that column by index
mydataset = {
  'cars': ["BMW", "Lexus", "Merc", "Honda", "Lambo"],
  'passings': [3, 7, 2, 5, None],
  'price': [100.5, 90.1, None, 30.3, 502]
}

df = pd.DataFrame(mydataset)

# this gives you the info on the table
print(df.info())

# this will print the whole DF
print(df.to_string())

# this prints the 2nd and 3rd row in the DF (pandas is 0 indexed)
# it will also print the column names and index
print(df.loc[[1, 2]])

# get the first 2 rows
print(df.head(2))

# get the last 2 rows
print(df.tail(2))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   cars      5 non-null      object
 1   passings  4 non-null      float64
 2   price     4 non-null      float64
dtypes: float64(2), object(1)
memory usage: 248.0+ bytes
None
    cars  passings  price
0    BMW       3.0  100.5
1  Lexus       7.0   90.1
2   Merc       2.0    NaN
3  Honda       5.0   30.3
4  Lambo       NaN  502.0
    cars  passings  price
1  Lexus       7.0   90.1
2   Merc       2.0    NaN
    cars  passings  price
0    BMW       3.0  100.5
1  Lexus       7.0   90.1
    cars  passings  price
3  Honda       5.0   30.3
4  Lambo       NaN  502.0

In [38]:
# returns a new DF with no empty cells
new_df = df.dropna()
print(new_df)

# fills all empty cells with the value, we will use inplace=True to save time
new_df2 = df.fillna(100000)
print(new_df2)

# we can also replace values in a specific column
df["price"].fillna(1500.4, inplace = True)
print(df)

    cars  passings  price
0    BMW       3.0  100.5
1  Lexus       7.0   90.1
3  Honda       5.0   30.3
    cars  passings     price
0    BMW       3.0     100.5
1  Lexus       7.0      90.1
2   Merc       2.0  100000.0
3  Honda       5.0      30.3
4  Lambo  100000.0     502.0
    cars  passings   price
0    BMW       3.0   100.5
1  Lexus       7.0    90.1
2   Merc       2.0  1500.4
3  Honda       5.0    30.3
4  Lambo       NaN   502.0